# Fundamental Data Types

This chapter will introduce you to the fundamental Python data types - lists, sets, and strings. These data containers are critical as they provide the basis for storing and looping over ordered data. To make things interesting, you'll apply what you learn about these types to answer questions about the New York Baby Names dataset!

## Container Sequences
Mutable (lists, sets) and immutable (tuples)

# 1. Lists

In [25]:
cookies = ['choc chip', 'peanut butter', 'sugar'] # create list
cookies.append('Tirggel') # add item to list
print(cookies) # print list

['choc chip', 'peanut butter', 'sugar', 'Tirggel']

In [26]:
print(cookies[2]) # print single element of the list

sugar

## Combining lists

In [27]:
# Using Operators

cakes = ['strawberry', 'vanilla']

desserts = cookies + cakes

print(desserts)

['choc chip', 'peanut butter', 'sugar', 'Tirggel', 'strawberry', 'vanilla']

In [28]:
# Extending the List

cakes = ['strawberry', 'vanilla']

cookies.extend(cakes)

print(cookies)

['choc chip', 'peanut butter', 'sugar', 'Tirggel', 'strawberry', 'vanilla']

## Finding Elements in a List

In [29]:
# Using Index

position = cookies.index('sugar')

print(position)

2

## Removing Elements from a List

In [30]:
# Using POP method

print(cookies) # initial list

name = cookies.pop(position) # to remove element in index 2

print(name) # print the element

print(cookies) # print new list

['choc chip', 'peanut butter', 'sugar', 'Tirggel', 'strawberry', 'vanilla']
sugar
['choc chip', 'peanut butter', 'Tirggel', 'strawberry', 'vanilla']

## Iterating over Lists

List comprehensions are a common way of iterating over a list to perform some action on them.

In [32]:
# To convert each item on a list to title case

titlecase_cookies = [cookie.title() for cookie in cookies]

print(titlecase_cookies)

['Choc Chip', 'Peanut Butter', 'Tirggel', 'Strawberry', 'Vanilla']

## Sorting Lists

In [34]:
# To sort list in alphabetical order

sorted_cookies = sorted(cookies)

print(sorted_cookies)

['Tirggel', 'choc chip', 'peanut butter', 'strawberry', 'vanilla']

# Exercises

Manipulating lists for fun and profit

- Create a list called baby_names with the names 'Ximena', 'Aliza', 'Ayden', and 'Calvin'.
- Use the .extend() method on baby_names to add 'Rowen' and 'Sandeep' and print the list.
- Use the .index() method to find the position of 'Rowen' in the list. Save the result as position.
- Use the .pop() method with position to remove 'Rowen' from the list.

In [35]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
other = ['Rowen','Sandeep']
baby_names.extend(other)

# Find the position of 'Rowen': position
position = baby_names.index('Rowen')

# Remove 'Rowen' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Sandeep']

Looping over lists

- Use a list comprehension on records to create a list called baby_names that contains the name, found in the fourth element of row.
- Print baby_names in alphabetical order using the sorted() function.

In [41]:
records = [['2014', 'F', '20799', 'Emma'], ['2014', 'F', '19674', 'Olivia'], ['2014', 'F', '18490', 'Sophia'], ['2014', 'F', '16950', 'Isabella'], ['2014', 'F', '15586', 'Ava'], ['2014', 'F', '13442', 'Mia'], ['2014', 'F', '12562', 'Emily'], ['2014', 'F', '11985', 'Abigail'], ['2014', 'F', '10247', 'Madison'], ['2014', 'F', '10048', 'Charlotte'], ['2014', 'F', '9564', 'Harper'], ['2014', 'F', '9542', 'Sofia'], ['2014', 'F', '9517', 'Avery'], ['2014', 'F', '9492', 'Elizabeth'], ['2014', 'F', '8727', 'Amelia'], ['2014', 'F', '8692', 'Evelyn'], ['2014', 'F', '8489', 'Ella'], ['2014', 'F', '8469', 'Chloe'], ['2014', 'F', '7955', 'Victoria'], ['2014', 'F', '7589', 'Aubrey'], ['2014', 'F', '7554', 'Grace'], ['2014', 'F', '7358', 'Zoey'], ['2014', 'F', '7061', 'Natalie'], ['2014', 'F', '6950', 'Addison'], ['2014', 'F', '6869', 'Lillian'], ['2014', 'F', '6767', 'Brooklyn']]

# Create the list comprehension: baby_names
baby_names = [item[3] for item in records]
    
# Print the sorted the names in alphabetical order
print(sorted(baby_names))

['Abigail', 'Addison', 'Amelia', 'Aubrey', 'Ava', 'Avery', 'Brooklyn', 'Charlotte', 'Chloe', 'Elizabeth', 'Ella', 'Emily', 'Emma', 'Evelyn', 'Grace', 'Harper', 'Isabella', 'Lillian', 'Madison', 'Mia', 'Natalie', 'Olivia', 'Sofia', 'Sophia', 'Victoria', 'Zoey']

# 2. Tuples

Tuples are very much like lists. They hold data in the order and we can access elements inside a tuple with an index.

Tuples are easier to process and more memory efficient than lists.

They are immutable - we cannot add or remove elements from them.

Unpacking - used to expand the tuple into named variables that represent each element in the tuple.

## Zipping Tuples

Tuples are commonly created by zipping lists together with zip().

In [42]:
us_cookies = ['Chocolate Chip', 'Brownies', 'Peanut Butter', 'Oreos', 'Oatmeal Raisin']
in_cookies = ['Punjabi', 'Fruit Cake Rusk', 'Marble Cookies', 'Kaju Pista', 'Almond Cookies']

top_pairs = list(zip(us_cookies, in_cookies))

print(top_pairs)

[('Chocolate Chip', 'Punjabi'), ('Brownies', 'Fruit Cake Rusk'), ('Peanut Butter', 'Marble Cookies'), ('Oreos', 'Kaju Pista'), ('Oatmeal Raisin', 'Almond Cookies')]

## Unpacking Tuples

It allows us to assign the elements of a tuple to a named variable for later use.

In [44]:
us_num_1, in_num_1 = top_pairs[0]

print(us_num_1)

Chocolate Chip

In [45]:
print(in_num_1)

Punjabi

In [46]:
# Loop using tuple unpacking when iterating over the top_pairs list.

for us_cookie, in_cookie in top_pairs:
    print(in_cookie)
    print(us_cookie)

Punjabi
Chocolate Chip
Fruit Cake Rusk
Brownies
Marble Cookies
Peanut Butter
Kaju Pista
Oreos
Almond Cookies
Oatmeal Raisin

## Enumerating Positions

It is used in loops to return the position and the data in the position while looping.

In [47]:
for idx, item in enumerate(top_pairs):
    us_cookie, in_cookie = item
    print(idx, us_cookie, in_cookie)

0 Chocolate Chip Punjabi
1 Brownies Fruit Cake Rusk
2 Peanut Butter Marble Cookies
3 Oreos Kaju Pista
4 Oatmeal Raisin Almond Cookies

# Exercises

Using and unpacking tuples

- Use the zip() function to pair up girl_names and boy_names into a variable called pairs.
- Use a for loop to loop through pairs, using enumerate() to keep track of your position. Unpack pairs into the variables rank and pair.
- Unpack pair into the variables girl_name and boy_name.
- Print the rank, girl name, and boy name, in that order. The rank is contained in rank.

In [48]:
girl_names = ['Jada', 'Emily', 'Ava', 'Serenity', 'Claire', 'Sophia', 'Sarah', 'Ashley', 'Chaya', 'Abigail', 'Zoe', 'Leah', 'Hailey', 'Ava', 'Olivia', 'Emma', 'Chloe', 'Sophia', 'Aaliyah', 'Angela', 'Camila', 'Savannah', 'Serenity', 'Chloe', 'Fatoumata']
boy_names = ['Josiah', 'Ethan', 'David', 'Jayden', 'Mason', 'Ryan', 'Christian', 'Isaiah', 'Jayden', 'Michael', 'Noah', 'Samuel', 'Sebastian', 'Noah', 'Dylan', 'Lucas', 'Joshua', 'Angel', 'Jacob', 'Matthew', 'Josiah', 'Jacob', 'Muhammad', 'Alexander', 'Jason']

# Pair up the girl and boy names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for rank, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print(f'Rank {rank+1}: {girl_name} and {boy_name}')

Rank 1: Jada and Josiah
Rank 2: Emily and Ethan
Rank 3: Ava and David
Rank 4: Serenity and Jayden
Rank 5: Claire and Mason
Rank 6: Sophia and Ryan
Rank 7: Sarah and Christian
Rank 8: Ashley and Isaiah
Rank 9: Chaya and Jayden
Rank 10: Abigail and Michael
Rank 11: Zoe and Noah
Rank 12: Leah and Samuel
Rank 13: Hailey and Sebastian
Rank 14: Ava and Noah
Rank 15: Olivia and Dylan
Rank 16: Emma and Lucas
Rank 17: Chloe and Joshua
Rank 18: Sophia and Angel
Rank 19: Aaliyah and Jacob
Rank 20: Angela and Matthew
Rank 21: Camila and Josiah
Rank 22: Savannah and Jacob
Rank 23: Serenity and Muhammad
Rank 24: Chloe and Alexander
Rank 25: Fatoumata and Jason

Making tuples by accident

- Create a variable named normal and set it equal to 'simple'.
- Create a variable named error and set it equal to 'trailing comma',.
- Print the type of the normal and error variables.

In [49]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

# 3. Strings

* f-strings are formatted string literals

In [50]:
cookie_name = 'Anzac'
cookie_price = '$1.99'

print(f"Each { cookie_name } cookie costs { cookie_price }.")

Each Anzac cookie costs $1.99.

* joining strings with "".join()

In [51]:
child_ages = ['3', '4', '7', '8']

print(", ".join(child_ages))

3, 4, 7, 8

In [53]:
print(f"The children are ages {','.join(child_ages[0:3])}, and {child_ages[-1]}.")

The children are ages 3,4,7, and 8.

* Matching parts of a string with .startswith() and .endswith() - case sensitive

In [54]:
boy_names = ['Mohamed', 'Youssef', 'Ahmed']
print([name for name in boy_names if name.startswith('A')])

['Ahmed']

* Using in operator - case sensitive

'long' in 'Life is a long lesson in humility'

In [56]:
'long' in 'Life is a long lesson in humility'.lower()

True

# Exercises

Formatted String Literals ("f" strings)

- Loop over the top_ten_girl_names list and use tuple unpacking to get the top_ten_rank and name.
- Print out each rank and name like this Rank #: 1 - Jada where the number 1 is the rank and Jada is the name.

In [57]:
top_ten_girl_names = [(1, 'Jada'), (2, 'Emily'), (3, 'Ava'), (4, 'Serenity'), (5, 'Claire'), (6, 'Sophia'), (7, 'Sarah'), (8, 'Ashley'), (9, 'Chaya'), (10, 'Abigail')]

# Loop over top_ten_girl_names and unpack each tuple into top_ten_rank and name
for top_ten_rank, name in top_ten_girl_names:
  	# Print each name in the proper format
    print(f"Rank #: { top_ten_rank } - { name }")

Rank #: 1 - Jada
Rank #: 2 - Emily
Rank #: 3 - Ava
Rank #: 4 - Serenity
Rank #: 5 - Claire
Rank #: 6 - Sophia
Rank #: 7 - Sarah
Rank #: 8 - Ashley
Rank #: 9 - Chaya
Rank #: 10 - Abigail

Combining multiple strings

- Make a string that contains: The top ten boy names are: and store it as preamble.
- Make a string that contains: , and and store it as conjunction.
- Make a string that combines the first 9 names in boy_names list with a comma and store it as first_nine_names.
- Make an f-string that contains preamble, first_nine_names, conjunction, the final item in boy_names and a period.

In [59]:
# The top ten boy names are: as preamble
preamble = "The top ten boy names are: "

# , and as conjunction
conjunction = ", and"

# Combines the first 9 names in boy_names with a comma and space as first_nine_names
first_nine_names = ", ".join(boy_names[0:9])

# Print f-string preamble, first_nine_names, conjunction, the final item in boy_names and a period
print(f"{preamble}{first_nine_names}{conjunction} {boy_names[-1]}.")

The top ten boy names are: Mohamed, Youssef, Ahmed, and Ahmed.

Finding strings in other strings

- Store and print a list of girl_names that start with s.
- Store and print a list of girl_names with angel in them.

In [60]:
# Store a list of girl_names that start with s: names_with_s
names_with_s = [name for name in girl_names if name.lower().startswith('s')]

print(names_with_s)

# Store a list of girl_names that contain angel: names_with_angel
names_with_angel = [name for name in girl_names if 'angel' in name.lower()]
print(names_with_angel)

['Serenity', 'Sophia', 'Sarah', 'Sophia', 'Savannah', 'Serenity']
['Angela']